name: build

on:
  push:
    paths: ['**', '!*.md', '!.github/**', '.github/workflows/build.yml', '.github/workflows/install-nim/action.yml']
#   branches: master
  pull_request:
    paths: ['**', '!*.md', '!.github/**', '.github/workflows/build.yml', '.github/workflows/install-nim/action.yml']

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        nim-version: [stable, devel]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    name: Build and test

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Nim
      uses: './.github/workflows/install-nim'
      with:
        version: ${{ matrix.nim-version }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and test
      run: nimble test -y

  build-freebsd:
    strategy:
      fail-fast: false

    runs-on: macos-latest
    name: Build and test (stable, FreeBSD)

    steps:
    - uses: actions/checkout@v3
    - name: Build and test
      uses: vmactions/freebsd-vm@v0
      with:
        usesh: true
        prepare: |
          pkg install -y nim

        run: |
          export PATH="$PATH:$HOME/.nimble/bin"
          nimble test -y

  build-non-x86:
    strategy:
      fail-fast: false
      matrix:
        arch: ['aarch64', 'riscv64', 'ppc64le']

    runs-on: ubuntu-latest
    name: Build and test (stable, ubuntu-devel, ${{ matrix.arch }})

    steps:
    - uses: actions/checkout@v3
    - uses: uraimo/run-on-arch-action@v2
      name: Initialize ${{ matrix.arch }} container, build, and test
      with:
        arch: ${{ matrix.arch }}
        distro: ubuntu_devel
        githubToken: ${{ github.token }}

        install: |
          apt-get update -q -y
          apt-get install -q -y nim

        run: |
          export PATH="$PATH:$HOME/.nimble/bin"
          nimble test -y
