name: build

on:
  push:
    paths: ['**', '!*.md', '!.github/**', '.github/workflows/build.yml', '.github/workflows/install-nim/action.yml']
#    branches: master
  pull_request:
    paths: ['**', '!*.md', '!.github/**', '.github/workflows/build.yml', '.github/workflows/install-nim/action.yml']

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        nim-version: [stable, devel]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}
    name: Build and test

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Nim
      uses: './.github/workflows/install-nim'
      with:
        version: ${{ matrix.nim-version }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and test
      run: nimble test -y

  build-non-x86:
    strategy:
      fail-fast: false
      matrix:
        arch: ['aarch64', 'riscv64', 'ppc64le']

    runs-on: ubuntu-latest
    name: Build and test (stable, ubuntu-devel, ${{ matrix.arch }})

    steps:
    - uses: actions/checkout@v3
    - uses: uraimo/run-on-arch-action@v2
      name: Run commands
      id: runcmd
      with:
        arch: ${{ matrix.arch }}
        distro: ubuntu_devel

        # Not required, but speeds up builds by storing container images in
        # a GitHub package registry.
        githubToken: ${{ github.token }}

        # Set an output parameter `uname` for use in subsequent steps
        run: |
          apt-get update -q -y
          apt-get install -q -y nim
          export PATH=$PATH:$HOME/.nimble/bin
          nimble test -y
